<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eddy.rxm.admin.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.eddy.rxm.admin.entity.SysMenu">
        <id column="id" property="id" />
        <id column="name" property="name" />
        <id column="url" property="url" />
        <id column="p_id" property="parentId" />
    </resultMap>



    <select id="getMenu" resultMap="BaseResultMap">
        select name, url, id, p_id
        from menu
        order by id
    </select>


</mapper>
